<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" />
    <title>About</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/index">Home</a>
        <a href="/about">About</a>
        <a href="/instructions">Instructions</a>
        <a href="/developer">Developers</a>
        <a href="/form">Contact Us</a>
        <div class="dropdown" style="float: right;">
            <button class="dropbtn">Account 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/profile">Profile</a>
              <a href="/logout">Logout</a>
            </div>
          </div> 
        
    </div>
      <div class="abouts"><h1>About This app!!!</h1>
        <h2>The todoList is used to store tasks that are to be done.</h2>
        <h2>You can come back and check the task and delete it when completed.</h2>
    </div>
    
</body>
</html>