<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" />
    <title>Instructions</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/index">Home</a>
        <a href="/about">About</a>
        <a href="/instructions">Instructions</a>
        <a href="/developer">Developers</a>
        <a href="/form">Contact Us</a>
        <div class="dropdown" style="float: right;">
            <button class="dropbtn">Account 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/profile">Profile</a>
              <a href="/logout">Logout</a>
            </div>
          </div> 
    </div>
      <div class="developers">
        <h1 style="text-decoration: underline;">Developed by Team-11</h1>
        <h2>1. 18N81A0562 : Kishan Kumar Zalavadia</h2>
        <h2>2. 18N81A05B5 : HarshaVardhan Reddy</h2>
        <h2>3. 18N81A0599 : Sai Shankar</h2>
        <h2>4. 18N81A05B7 : Venu Goud</h2>
        <h1 style="text-decoration: underline;">Languages used:</h1>
        <h2>Frontend:&nbsp&nbsp&nbspNodeJs,Express,CSS</h2>
        <h2>Backend:&nbsp&nbsp&nbsp MongoDB</h2>
    </div>
    
</body>
</html>