<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" />
    <title>Instructions</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/index">Home</a>
        <a href="/about">About</a>
        <a href="/instructions">Instructions</a>
        <a href="/developer">Developers</a>
        <a href="/form">Contact Us</a>
        <div class="dropdown" style="float: right;">
            <button class="dropbtn">Account 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/profile">Profile</a>
              <a href="/logout">Logout</a>
            </div>
          </div> 
        
    </div>
      <div class="instructions">
        <h1>How to use?</h1>
        <h2>1.Write down the task which you want to add in your list.</h2>
        <h2>2.Click on + button to add.</h2>
        <h2>3.To delete a particular task, click in the checkbox of that task.</h2>
        <h1>Now you are ready to use the todoList.</h1>
    </div>
    
</body>
</html>